/WineCore/cellar/PineSocks/ext/docs
/WineCore/cellar/PineSocks/ext/examples
/WineCore/cellar/PineSocks/server/static/temp
/WineCore/cellar/PineSocks/server/static/production
*.pyc
*.idea
*.vagrant
*.sublime-workspace
*.swp
